table {
    margin-top: 2em;
	margin-bottom: 2em;
	border-collapse: collapse;
	width: 95%;
}

table tr + tr {
	border-top: 1px solid #ccc;
}
table td + td {
	border-left: 1px solid #ccc;
}

table td {
	padding: 0.4em;
	text-align: center;
	-moz-hyphens: none;
	-webkit-hyphens: none;
	-o-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

table th {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 95%;
	padding: 0.3rem 0.5rem 0.3rem 0.5rem;
	line-height: 1.05;
    border-bottom: 1px solid #bbb;
}

.post-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.post-title {
    margin-bottom: 0.5em;
}

.post-title h1 {
    margin-top: 0.1em;
}

blockquote {
    border-left: 2.5px solid #eee;
    margin: 0.3em 10px;
    padding: 0.3em 20px;
}
